.header {
	margin: 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 1em;
}

#actions ul {
	margin: 0;
	padding: 6px;
	list-style-type: none;
	border-bottom: 1px solid #000;
}

#actions li {
	display: inline;
	padding: .2em .4em;
}

#searchform {
	display: inline;
	float: right;
}

#content {
	border-bottom: 1px solid #000;
}

#editcontent {
	width: 100%;
}      

/* Stuff for the RecentChanges table. */
tr.changeheader {
	background: #eee;
	color: black !important;
}
tr.changeinfo {
	background: #eee;
	color: black !important;
}
th.changeheader {
	padding: 1px .3em;
}
td.changeinfo { 
	padding: 1px .3em;
}
td.changetime {
	white-space: nowrap;
	padding: 1px .3em;
}
td.changelog {
	font-style: italic;
}

/* Used for adding a blog page. */
#blogform {
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: black !important;
}

.inlinepage {
	padding: 10px 10px;
	border: 1px solid #aaa;
}

#backlinks {
	margin: 1em 0;
}

#footer {
	margin: 1em 0;
}

#pageinfo {
	font-style: italic;
}

/* Used for invalid form fields. */
.fb_invalid {
	color: red;
	background: white !important;
}

/* Used for required form fields. */
.fb_required {
	font-weight: bold;
}

/* RSS button. */
.rssbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}
.rssbutton:hover {
	color: white !important;
	background: #ff9900;
}
