Someone[1], possibly you, requested that you be emailed the password for user
<TMPL_VAR USER_NAME> on <TMPL_VAR WIKINAME>[2].

The password is: <TMPL_VAR USER_PASSWORD>

-- 
ikiwiki

[1] The user requesting the password was at IP address <TMPL_VAR REMOTE_ADDR>
[2] Located at <TMPL_VAR WIKIURL>
