# This is a sample configuration file for code_swarm for ikiwiki

# Frame width
Width=640

# Frame height
Height=480

# Input file
InputFile=data/sample-repevents.xml

# Particle sprite file
ParticleSpriteFile=particle.png

# Project time per frame
MillisecondsPerFrame=21600000
#MillisecondsPerFrame=43200000

# Background in R,G,B
Background=0,0,0

# Color assignment rules
# Keep in order, do not skip numbers. Numbers start
# at 1.
# 
# Pattern:  "Label", "regex", R,G,B R,G,B
# Label is optional.  If it is omitted, the regex
# will be used.
#

ColorAssign1="Discussion (blue)",".*discussion.*", 0,0,255, 0,0,255
ColorAssign2="Docs (green)",".*\.mdwn", 255,0,0, 255,0,0
ColorAssign3="Plugins (orange)",".*Plugin/.*", 255,116,0, 255,116,0
ColorAssign4="Code (red)",".*\.p[ml]", 0,255,0, 0,255,0

# Save each frame to an image?
TakeSnapshots=true

# Where to save each frame
SnapshotLocation=frames/code_swarm-#####.png

# Create a glow around names? (Runs slower)
NameHalos=false

# Natural distance of files to people
EdgeLength=40

debug=false

# OpenGL is experimental. Use at your own risk.
UseOpenGL=false
