#header h1 {
	margin: 0;
	padding: 2px 0;
}

#actions ul {
	margin: 0;
	padding: 2px;
	list-style-type: none;
	border-bottom: 1px solid #000;
}

#actions li {
	display: inline;
	padding: .2em .4em;
}

#content {
	border-bottom: 1px solid #000;
}

/* Used for adding a blog page. */
#blogform {
	margin: 10 10;
	border: 1px solid #aaa;
	color: #eee;
}

#backlinks {
	margin: 1em 0;
}

#footer {
	margin: 1em 0;
}

#pageinfo {
	font-style: italic;
}

/* Used for invalid form fields. */
.fb_invalid {
	color: red;
}
/* Used for required form fields. */
.fb_required {
	fornt-style: bold;
}
