<!-- <TMPL_VAR NAME="REV"> -->
<tr class="changeinfo">
	<td class="changeinfo"><TMPL_VAR NAME="USER"></td>
	<td class="changetime"><TMPL_VAR NAME="WHEN"></td>
	<td class="changeinfo">
	<TMPL_LOOP NAME="PAGES">
		<TMPL_IF NAME="DIFFURL">
			<a href="<TMPL_VAR NAME="DIFFURL">">
			<img alt="diff" src="wikiicons/diff.png" />
			</a>
			<TMPL_VAR NAME="LINK">
		<TMPL_ELSE>
			<TMPL_VAR NAME="LINK">
		</TMPL_IF>
	</TMPL_LOOP>
	</td>
	<td class="changeinfo"><TMPL_VAR NAME="COMMITTYPE"></td>
</tr>
<tr>
	<td class="changelog" colspan="4">
		<TMPL_LOOP NAME="MESSAGE">
			<TMPL_IF NAME="LINE">
				<TMPL_VAR NAME="LINE" ESCAPE="HTML"><br />
			</TMPL_IF>
		</TMPL_LOOP>
	</td>
</tr>
