[[!meta author="""<TMPL_VAR AUTHOR>"""]]
<TMPL_IF AUTHORURL>
[[!meta authorurl="""<TMPL_VAR AUTHORURL>"""]]
</TMPL_IF>
[[!meta title="""change to<TMPL_LOOP NAME="PAGES"> <TMPL_VAR PAGE></TMPL_LOOP> on <TMPL_VAR WIKINAME>"""]]
<div class="metadata">
<span class="desc"><br />Changed pages:</span>
<span class="pagelinks">
<TMPL_LOOP NAME="PAGES">
<TMPL_IF NAME="DIFFURL"><a href="<TMPL_VAR DIFFURL>">[[diff|wikiicons/diff.png]]</a><TMPL_VAR LINK>
<TMPL_ELSE>
<TMPL_VAR LINK>
</TMPL_IF>
</TMPL_LOOP>
</span>
<span class="desc"><br />Changed by:</span>
<span class="committer">
<TMPL_IF NAME="AUTHORURL">
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR USER></a>
<TMPL_ELSE>
<TMPL_VAR USER>
</TMPL_IF>
</span>
<span class="desc"><br />Commit type:</span>
<span class="committype"><TMPL_VAR COMMITTYPE></span>
<span class="desc"><br />Date:</span>
<span class="changedate"><TMPL_VAR COMMITDATE></span>
</div>
<div class=changelog>
<TMPL_LOOP NAME="MESSAGE">
<TMPL_IF NAME="LINE">
<TMPL_VAR NAME="LINE" ESCAPE="HTML"><br />
</TMPL_IF>
</TMPL_LOOP>
</div>
<TMPL_IF NAME="DIFF">
<div class=diff>
<pre>
<TMPL_VAR NAME="DIFF" ESCAPE="HTML">
</pre>
</div>
</TMPL_IF>
<!-- <TMPL_VAR REV> -->
