<div class="comments-embed">
<TMPL_IF NAME=DISABLED>
[Posting comments disabled: <TMPL_VAR NAME=DISABLED>]
<TMPL_ELSE>
<a href="<TMPL_VAR CGIURL ESCAPE=HTML>?do=comment&amp;page=<TMPL_VAR PAGE ESCAPE=URL>">Post a comment</a>
</TMPL_IF>
</div>
