<div class="comment" id="<TMPL_VAR NAME=INLINEPAGE>">

<div class="comment-header">
Posted by
<TMPL_IF NAME="COMMENTUSER">
<span class="author">
<TMPL_IF NAME="COMMENTAUTHORURL">
<a href="<TMPL_VAR NAME=COMMENTAUTHORURL>"><TMPL_VAR NAME=COMMENTAUTHOR></a>
<TMPL_ELSE>
<TMPL_VAR NAME=AUTHOR>
</TMPL_IF>
</span>
<TMPL_ELSE>
<TMPL_IF NAME=COMMENTIP>
<span class="author">
<TMPL_VAR NAME=COMMENTIP>
</span>
<TMPL_ELSE>
unknown IP address
</TMPL_IF>

<TMPL_IF NAME=AUTHOR>
(<span class="claimedauthor"><TMPL_IF NAME="AUTHORURL"><a href="<TMPL_VAR NAME=AUTHORURL>"><TMPL_VAR NAME=AUTHOR></a><TMPL_ELSE><TMPL_VAR NAME=AUTHOR></TMPL_IF></span>)
</TMPL_IF>
</TMPL_IF>

(<TMPL_VAR CTIME>)
</div>

<div class="comment-subject"><TMPL_VAR TITLE></div>

<div class="inlinecontent">
<TMPL_VAR CONTENT>
</div>

</div><!--.comment-->
