<div class="comments-form">
<TMPL_VAR MESSAGE>
<TMPL_VAR FORM-START>
<TMPL_VAR FIELD-DO>
<TMPL_VAR FIELD-SID>
<TMPL_VAR FIELD-PAGE>
Subject: <TMPL_VAR FIELD-SUBJECT><br />
<TMPL_VAR FIELD-BODY><br />
Page type: <TMPL_VAR FIELD-TYPE><br />
<TMPL_VAR FORM-SUBMIT><br />
<TMPL_VAR HELPONFORMATTINGLINK><br />
A subset of HTML is allowed.<br />
IkiWiki directives ([[!directive]]) are <TMPL_UNLESS NAME="ALLOWDIRECTIVES">not </TMPL_UNLESS>allowed in comments on this wiki.<br />
<TMPL_VAR NAME="FORM-END">

<TMPL_IF NAME="PAGE_PREVIEW">
<hr />
<div class="header">
<span>Comment preview:</span>
</div><!-- .header -->
<div id="preview">
<TMPL_VAR PAGE_PREVIEW>
</div><!-- #preview -->
</TMPL_IF>

</div><!-- .comments-form -->
