<div id="feedlink">
<TMPL_IF NAME="RSSURL">
<a class="feedbutton" type="application/rss+xml" href="<TMPL_VAR NAME=RSSURL>">RSS</a>
</TMPL_IF>
<TMPL_IF NAME="ATOMURL">
<a class="feedbutton" type="application/atom+xml" href="<TMPL_VAR NAME=ATOMURL>">Atom</a>
</TMPL_IF>
</div>
