<script type="text/javascript" src="<TMPL_VAR BASEURL><TMPL_VAR PROTOTYPE1>"></script>
<script type="text/javascript" src="<TMPL_VAR BASEURL><TMPL_VAR SCRIPTACULOUS>"></script>
<script type="text/javascript" src="<TMPL_VAR BASEURL><TMPL_VAR LIGHTBOX>"></script>
<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LIGHTBOXCSS>" type="text/css" media="screen" />
