<form method="get" action="http://www.google.com/search" id="searchform">
 <div>
  <input name="sitesearch" value="<TMPL_VAR SITEFQDN>" type="hidden" />
  <input name="q" value="" id="searchbox" size="16" maxlength="255" type="text" />
 </div>
</form>
