<div class="inlinepage">
<span class="header"><TMPL_VAR PAGELINK></span>

<TMPL_VAR CONTENT>

<span class="pageinfo">
Posted <TMPL_VAR CTIME>
</span>

<span class="tags">
<TMPL_IF NAME="TAGS">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR NAME=LINK>
</TMPL_LOOP>
</TMPL_IF>
</span>
</div>
