<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head><title><TMPL_VAR TITLE></title></head>
<body>

<h1>
<TMPL_VAR INDEXLINK>/ <TMPL_VAR TITLE>
</h1>

<TMPL_VAR PAGEBODY>

<!-- from <TMPL_VAR NAME=WIKINAME> -->

</body>
</html>
