<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<TMPL_IF NAME="BASEURL">
<base href="<TMPL_VAR BASEURL>" />
</TMPL_IF>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR STYLEURL>" type="text/css" />
</head>
<body>

<div id="header">
<span>
<TMPL_VAR INDEXLINK>/ <TMPL_VAR TITLE>
</span>
</div>

<div id="content">
<TMPL_VAR PAGEBODY>
</div>

<div id="footer">
<!-- from <TMPL_VAR NAME=WIKINAME> -->
</div>

</body>
</html>
