<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
<TMPL_IF NAME="FAVICON">
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<TMPL_IF NAME="RSSLINK"><TMPL_VAR RSSLINK></TMPL_IF>
<TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
</head>
<body>

<div class="header">
<span>
<TMPL_LOOP NAME="PARENTLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>/ 
</TMPL_LOOP>
<TMPL_VAR TITLE>
</span>
<TMPL_IF NAME="SEARCHFORM">
<TMPL_VAR SEARCHFORM>
</TMPL_IF>
</div>

<TMPL_IF NAME="HAVE_ACTIONS">
<div class="actions">
<ul>
<TMPL_IF NAME="EDITURL">
<li><a href="<TMPL_VAR EDITURL>">Edit</a></li>
</TMPL_IF>
<TMPL_IF NAME="RECENTCHANGESURL">
<li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
</TMPL_IF>
<TMPL_IF NAME="HISTORYURL">
<li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
</TMPL_IF>
<TMPL_IF NAME="PREFSURL">
<li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
</TMPL_IF>
<TMPL_IF NAME="DISCUSSIONLINK">
<li><TMPL_VAR DISCUSSIONLINK><br /></li>
</TMPL_IF>
</ul>
</div>
</TMPL_IF>

<TMPL_IF SIDEBAR>
<div id="sidebar">
<TMPL_VAR SIDEBAR>
</div>
</TMPL_IF>

<div id="content">
<TMPL_VAR CONTENT>
</div>

<div class="tags">
<TMPL_IF NAME="TAGS">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR NAME=LINK>
</TMPL_LOOP>
</TMPL_IF>
</div>

<div id="backlinks">
<TMPL_IF NAME="BACKLINKS">
Links:
<TMPL_LOOP NAME="BACKLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>
</TMPL_LOOP>
</TMPL_IF>
</div>

<div id="footer">
<span class="pageinfo">
<!-- from <TMPL_VAR NAME=WIKINAME> -->
Last edited <TMPL_VAR NAME=MTIME>
</span>
</div>

</body>
</html>
