<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head><title><TMPL_VAR TITLE></title></head>
<body>

<h1>
<TMPL_LOOP NAME="PARENTLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>/ 
</TMPL_LOOP>
<TMPL_VAR TITLE>
</h1>

<TMPL_IF NAME="EDITURL">
<a href="<TMPL_VAR EDITURL>">Edit</a>&nbsp;
</TMPL_IF>

<TMPL_IF NAME="RECENTCHANGESURL">
<a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a>&nbsp;
</TMPL_IF>

<TMPL_IF NAME="HISTORYURL">
<a href="<TMPL_VAR HISTORYURL>">History</a>&nbsp;
</TMPL_IF>

<TMPL_IF NAME="PREFSURL">
<a href="<TMPL_VAR PREFSURL>">Preferences</a>&nbsp;
</TMPL_IF>

<TMPL_VAR DISCUSSIONLINK><br />

<hr />
<TMPL_VAR CONTENT>
<hr />

<TMPL_IF NAME="BACKLINKS">
<p>Links:
<TMPL_LOOP NAME="BACKLINKS">
<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>
</TMPL_LOOP>
</p>
</TMPL_IF>

<p>
<i>
<!-- from <TMPL_VAR NAME=WIKINAME> -->
Last edited <TMPL_VAR NAME=MTIME>
<TMPL_IF NAME="RSSURL">
; <a type="application/rss+xml" href="<TMPL_VAR NAME=RSSURL>">RSS</a>
</TMPL_IF>
</i>
</p>

</body>
</html>
