<html>
<head><title><TMPL_VAR TITLE></title></head>
<body>

<h1>
<a href="<TMPL_VAR INDEXLINK>"><TMPL_VAR WIKINAME></a>/ <TMPL_VAR TITLE>
</h1>

<hr>

<ul>
<TMPL_LOOP NAME="CHANGELOG">
	<li>
		<TMPL_LOOP NAME="PAGES">
			<TMPL_VAR NAME="LINK"></a>
		</TMPL_LOOP>
		<br>
		changed <TMPL_VAR NAME="WHEN"> by <TMPL_VAR NAME="USER">:
		<i><TMPL_VAR NAME="MESSAGE"></i>
	</li>
</TMPL_LOOP>
</ul>

</body>
</html>
