<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR STYLEURL>" type="text/css" />
</head>
<body>

<div id="header">
<h1>
<TMPL_VAR INDEXLINK>/ <TMPL_VAR TITLE>
</h1>
</div>

<div id="content">
<ul>
<TMPL_LOOP NAME="CHANGELOG">
	<li> <!-- <TMPL_VAR NAME="REV"> -->
		<TMPL_LOOP NAME="PAGES">
			<TMPL_VAR NAME="LINK">
			<TMPL_IF NAME="DIFFURL">
				(<a href="<TMPL_VAR NAME="DIFFURL">">diff</a>)
			</TMPL_IF>
		</TMPL_LOOP>
		<br />
		<!-- <TMPL_VAR NAME="COMMITTYPE"> -->
		changed <TMPL_VAR NAME="WHEN"> by <TMPL_VAR NAME="USER">:
		<i>
		<TMPL_LOOP NAME="MESSAGE">
			<TMPL_IF NAME="LINE">
				<TMPL_VAR NAME="LINE"><br />
			</TMPL_IF>
		</TMPL_LOOP>
		</i>
	</li>
</TMPL_LOOP>
</ul>
</div>

<!-- from <TMPL_VAR NAME=WIKINAME> -->

</body>
</html>
