<TMPL_IF FIRST>
<table border="1" frame="border" rules="groups">
<thead>
	<tr class="changeheader">
		<th class="changeheader" align="left">user</th>
		<th class="changeheader" align="left">time</th>
		<th class="changeheader" align="left" colspan="2">changes</th>
	</tr>
</thead>
<tbody>
</TMPL_IF>
<TMPL_VAR CONTENT>
<TMPL_IF LAST>
</tbody>
</table>
</TMPL_IF>
