<?xml version="1.0"?>
<rss version="2.0">
	<channel>
		<title><TMPL_VAR TITLE ESCAPE=HTML></title>
		<link><TMPL_VAR PAGEURL></link>
		<description><TMPL_VAR WIKINAME ESCAPE=HTML></description>
		<TMPL_LOOP NAME="ITEMS">
		<item>
			<title><TMPL_VAR ITEMTITLE ESCAPE=HTML></title>
			<TMPL_IF NAME="ITEMGUID">
			<guid isPermaLink="false"><TMPL_VAR ITEMGUID></guid>
			<TMPL_ELSE>
			<guid><TMPL_VAR ITEMURL></guid>
			</TMPL_IF>
			<link><TMPL_VAR ITEMURL></link>
			<pubDate><TMPL_VAR ITEMPUBDATE></pubDate>
			<description><![CDATA[<TMPL_VAR ITEMCONTENT>]]></description>
		</item>
		</TMPL_LOOP>
	</channel>
</rss>
