<TMPL_VAR BODY>
<TMPL_IF NAME="SUBJECT">
[[!meta title="<TMPL_VAR NAME="SUBJECT" ESCAPE=HTML>"]]
</TMPL_IF>
<TMPL_IF NAME="AUTHOR">
[[!meta author="<TMPL_VAR NAME="AUTHOR" ESCAPE=HTML>"]]
</TMPL_IF>
<TMPL_IF NAME="AUTHORURL">
[[!meta authorurl="<TMPL_VAR NAME="AUTHORURL" ESCAPE=HTML>"]]
</TMPL_IF>
