<!-- This template file only has to "use" the loops tested by pedigree.t -->

<TMPL_LOOP NAME="PEDIGREE">
</TMPL_LOOP>

<TMPL_LOOP NAME="PEDIGREE_BUT_ROOT">
</TMPL_LOOP>

<TMPL_LOOP NAME="PEDIGREE_BUT_TWO_OLDEST">
</TMPL_LOOP>
